/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/*ol, ul {
	list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;'Bangers', cursive;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
}

* {
	box-sizing: border-box; 	
}

body p{
	line-height: 22px;
}


/* Your code starts here! */

body{
	padding: 2% 7%;
}



/*styling the nav menu*/
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;

}

nav a{
	text-decoration: none;
	padding: 32px;
	color: black;
	width: 50%;
}

.links {
	display: flex;
	justify-content: space-evenly;
}

nav a:hover{
	font-weight: bolder;
	color: black;
}

.logo{
	display: flex;
}

.logo a, img{
	padding: 0;
}

/*mobile nav menu sytling*/

.logo @media screen and (max-width: 500px){

}


/*styling of hero section*/

#hero {
	width: 39%;
}

#hero-text{
	display: flex;
	justify-content: space-between;
	margin: 50px;
}

.hero-text{
	text-align: center;
	font-size: 85px;
	padding-left: 120px;
}

.hero-text{
	padding-top: 60px;
}

#hero img{
	width: 390px;
	display: flex;
	justify-content: flex-end;
	padding-right: 80px;
}

/*button styles*/

button{
	font-size: 20px;
	background: none;
	border: solid black 1px;
	padding: 5px 33px;
	
}

button:hover{
	background-color: black;
	color: red;
}

hr{
	border: 1px black solid;
}

/*features and about section styles*/

#features-about{
	display: flex;
	justify-content: space-between;
	margin: 50px 0px;
}

.text-about{
	padding-left: 45px;
}

.text-about h4{
	font-size: 20px;
}

.text-features{
	margin-right: 10px;
}

.text-features h4{
	font-size: 20px;
}

/*image sytling*/

.middle-img{
	width: 100%;
}

/*style services,product, vision section*/

#services-vision{
	display: flex;
	justify-content: space-between;
	justify-content: space-around;
	padding: 50px 0;
}

#services-vision div{
	padding:10px;
}

#services-vision h4{
	font-size: 20px;
}

/*footer syling*/

footer h4{
	font-size: 20px;
}

footer{
	margin-top: 50px;
	margin-bottom: 50px;
}

footer p{
	text-align: center;
	margin-top: 50px;
}

footer address{
	margin-bottom: 10px;
}

#footer a{
	text-decoration: none;
	color: black;
	padding: 5px 0;
	display: block;
}

#footer a:hover{
	font-weight: bolder;
}

/*styling for the services page*/

/*styling for hero image*/

.services-header-img {
	width: 100%;
}

/*styling for text under image*/

.services-text h2{
	font-size: 30px;
}

.services-text{
	margin: 15px 0;
}

/*syling boxes*/

.boxes{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	margin: 15px 0;

}

.boxes div{
	width: 520px;
	height: 270px;
	border: solid black 1px;
	background-color: rgb(241, 238, 238);
	padding: 30px;
	margin: 10px;
}

.boxes div button{
	background-color: rgb(255, 255, 255);
	margin-top: 30px;
}

.boxes div h2{
	font-size: 20px;
}

/*styling of the bottom section*/

.text-bottom h2{
	font-size: 20px;
}

.bottom{
	display: flex;
	justify-content: space-between;
	margin: 30px 0 50px 0;

}

.text-bottom{
	width: 50%;
}

ul{
	margin-top: 20px;
	margin-left: 22px;
}

ul li{
	line-height: 30px;
}

/*style bottom bar*/

.footer{
	text-align: center;
	margin: 120px 0 20px 0;
}


/*Adding tablet*/

@media (max-width: 800px){

    .hero-img img{
        display: none;
    }

    .hero-text{
        padding-left: 0;
        padding-top: 0;
    }

    nav{
        flex-direction: column-reverse;
    }

    #hero-text{
        display:block;
    }

    .boxes div{
        width: 300px;
        height: 350px;
    }

    .bottom{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .text-bottom h2{
        font-size: 35px;
        text-align: center;
    }

    .text-bottom{
        text-align: center;
    }

}

/*mobile*/

@media (max-width: 500px){
    .links{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .links a{
        border-top: 1px black solid;
        width: 100%;
        margin: 0;
        padding: 2%;
    }

    nav{
        margin: 0;
    }

    .logo{
        margin-bottom: 3%;
    }

    .hero-text h1{
        font-size: 60px;
        line-height: 80%;
    }
}

.boxes div{
    width: 45%;
    height: 60%;
}

.boxes button{
    font-size:15px;
    padding: 5px 10px;
}

